[submodule "Drivers/CMSIS/Device/ST/STM32F4xx"]
	path = Drivers/CMSIS/Device/ST/STM32F4xx
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
	branch = master
[submodule "Drivers/STM32F4xx_HAL_Driver"]
	path = Drivers/STM32F4xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32F4xx-Nucleo"]
	path = Drivers/BSP/STM32F4xx-Nucleo
	url = https://github.com/STMicroelectronics/stm32f4xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F4xx_Nucleo_144"]
	path = Drivers/BSP/STM32F4xx_Nucleo_144
	url = https://github.com/STMicroelectronics/stm32f4xx-nucleo-144-bsp.git
	branch = main
[submodule "Middlewares/ST/STM32_USB_Device_Library"]
	path = Middlewares/ST/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device
	branch = master
[submodule "Middlewares/ST/STM32_USB_Host_Library"]
	path = Middlewares/ST/STM32_USB_Host_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-host
	branch = master
[submodule "Middlewares/Third_Party/FatFs"]
	path = Middlewares/Third_Party/FatFs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs
	branch = master
[submodule "Middlewares/Third_Party/FreeRTOS"]
	path = Middlewares/Third_Party/FreeRTOS
	url = https://github.com/STMicroelectronics/stm32-mw-freertos
	branch = master
[submodule "Middlewares/Third_Party/LwIP"]
	path = Middlewares/Third_Party/LwIP
	url = https://github.com/STMicroelectronics/stm32-mw-lwip
	branch = master
[submodule "Middlewares/Third_Party/LibJPEG"]
	path = Middlewares/Third_Party/LibJPEG
	url = https://github.com/STMicroelectronics/stm32-mw-libjpeg
	branch = main
[submodule "Middlewares/Third_Party/mbedTLS"]
	path = Middlewares/Third_Party/mbedTLS
	url = https://github.com/STMicroelectronics/stm32-mw-mbedtls
	branch = main
